  
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: 'Amatic SC', cursive;
}

#produtos {
    background-color: #ffffff;
    height: auto;
    padding: 2rem;
    }


h2 {
    font-family: Montserrat;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    font-size: 2.0em;
    color: var(--midnightBlue);
}
h3{
  font-size: 1.5rem;
}
h4 {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  
  .card-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 75%;
  }
  
  .card {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: -10px 10px 20px 0px #4e4a4e;
  } 
  
  .card-img {
    display: block;
    object-fit: contain;
    height: 250px;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  
  .card-body {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem 0.75rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .card-desc {
    font-family: cursive;
    font-size: 0.8rem;
  }
  
  .card-btn {
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 12px;
  }
  
  .card-btn:hover {
    background-color: #B1D4E0;
  }